
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 85%;
	height: 90px;
}

.header__logo {
    display: flex;
    height: 100%;
}

.header__navigation {
	height: 100%;
}

.navigator {
	height:100%;
}

.navigator__list {
    display: flex; 
	height:100%;
	align-items: center;
}

.navigator__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height:100%;
}

.navigator__item:hover {
	background-color: rgba(0,0,0,0.1);
}
.navigator__link {
	text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
	display:flex;
}

.header__item > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 10px;
	display:flex;
}

.header__item > a:hover {
    color:#DE291F;
}

.header__item__free {
   text-decoration: none;
   background-color: #DE291F;
   color: white;
   border-radius: 5px;
   height: 40px;
   width: 160px;	
   display: flex;
   justify-content: center;
   align-items:center;
   font-size: 20px;
}

.providing {
    background-image:url(boots.jpg) ;
    background-size: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: wheat;
}

.providing > h1 {
    font-size: 40px;
    font-weight: bold;
    color: white
}

.providing > h2 {
    font-size: 30px;
    color: white
}

.providing__btn {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-weight:bold;
	font-size: 15px;
	width: 200px;
	height: 40px;
	background-color: #F7CC58;
	margin-top: 20px;
	display:flex;
	align-items:center;
	justify-content: center;
}

.main {
    width: 100%;
}

.main__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.main__header {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.main__title {
    display: flex;
    color: #353535;
    font-size: 25px;
    font-weight: bold;
}

.main__subtitle {
    display: flex;
    color: #B8B8B8;
    font-size: 20px; 
}

.main__border {
    border: 2px solid #353535;
    width: 40px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 60px;
}

.about {
    background-color:white;
}
.about__socials {
    display: flex;
    width: 70%;
    justify-content: space-between; /*дочерние элементы равномерно распределены*/
}

.socials__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    width: 25%;
}

.socials__itemImg {
    width: 50px;
    display: flex;
}

.socials__itemTitle {
    color: #353535;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.socials__itemText { 
    color:gray;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}

.Approch {
    background-color: rgb(247, 247, 247);
}

.Approch__content {
    flex-direction: column;
    display: flex;
    width: 85%;
}

.Approch__steps {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: white;
    margin-bottom: 40px;
    position: relative;
}

.Approch__stepsFoto {
    width: 300px;
    position: relative;
}

.Approch__stepsText {
    margin: 50px;
    position: relative;
}

.stepsText__title {
	font-size: 20px;
	color: #353535;
	font-weight: bold;
}

.stepsText__subtitle {
    color: gray;
    font-size: 15px;
}

.Approch__square {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: red;
    width: 80px;
    height: 90px;
    color: white;
    font-size: 20px;
    position: absolute;
    /*right: 700px;*/
    border: 1px solid white;
    border-radius: 5px;
}
.Approch__square.right{
    left: 700px; 
}

.Approch__squareNum {
    font-size: 45px;
    font-weight: bold;
}

.OurWork {
    background-color: #DE2B24;   /* #F35E58*/
}

.main__title.white,
.main__subtitle.white {
    color: white;
}

.main__border.white{
    border: 2px solid white;
}

.OurWork__content {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}

.OurWork__squareTtext {
    display: flex;
    width: 25%;
    background-color:#F35E58;
    color:white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.OurWork__squareTitle { 
font-size: 25px;
font-weight: bold;
}

.OurWork__squareSubtitle {
    font-size: 20px;
}

.OurWork__squareFoto{
    display: flex;
    width: 25%;
}

.submit {
    background-color: #1387C0;
}

.fa-check-circle-o {
    color:white;
    margin:20px;
}

.submit__form {
    display: flex;
	flex-direction: column; /*делает внутренности сверху вниз */
    margin: 50px auto;
	width: 600px;
    height: 400px;
    background-color: white;
    position: relative;
}

.submit__form::after {
	content: ''; /* что это */ 
    position: absolute; /* Абсолютное позиционирование */
    left: 260px; top: -75px; /* Положение треугольника */
    border: 40px solid transparent; /* Прозрачные границы */
    border-bottom: 40px solid white; /* Добавляем треугольник */
}

.submit__formText {
    margin-top: 60px;
    color: gray;
    text-align: center;
    align-items: center; /*внутренности стали по середине по горизонтале*/
    justify-content: center; /*внутренности стали по середине по вертикале*/
}

.submit__formGroup {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; /*внутренности стали по середине по горизонтале*/
}

#name,
#phone,
#company{
    margin:10px;
    width:300px;
    height:40px;
}
.formGroup__input:focus {
    border: 3px solid blue;
}

.formGroup__btn {
    display: flex;
    width: 130px;
    height: 40px;
    background-color: #F35E58;
    text-transform: uppercase;
    color: white;
    border: #F35E58;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

/* https://htmler.ru/2017/05/08/krestik-zakryit-na-chistom-css/  */
.close {
    position: absolute;
    right: -10px;
    top: -15px;
    width: 32px;
    height: 32px;
    background:red;
    border: 2px solid white;
    border-radius: 50%;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 13px;
    top: 5px;  
    content: ' ';
    height: 18px;
    width: 2px;
    background-color: white;
}

.close:before {
transform: rotate(45deg);
}

.close:after {
transform: rotate(-45deg);
}

.footer {
    background-color: #2A2A2A;
    padding: 40px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__header {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.footer__title {
    display: flex;
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
}

.footer__subtitle {
    display: flex;
    color: #B8B8B8;
    font-size: 20px; 
}

.footer__socials {
	margin: 20px;
    width: 200px;
	height: 30px;
    color: white;
    display: flex;
    justify-content: space-between; /*внутренности стали по середине по горизонтале?*/    
	
}

.border__footer__socials { 
    border: 1.5px solid #515151;
    width: 35px;
	height: 35px;
    display: flex;
    justify-content: center;
	align-items: center;
}

.border__footer__socials:hover {
	    border: 1.5px solid red;
}

#email {
    width: 600px;
    height: 40px;
    color:white;
}

.footer__input {
	margin-top: 40px;
    background-color: #515151;
    color: white;
}

placeholder {
    color: white;
}

.footer__btn {
    display: flex;
    width: 130px;
    height: 40px;
    background-color: #2A2A2A;
    color: white;
    border: 1px solid gray;
    align-items: center;
    justify-content: center;
	margin:40px;
}

.footer__bottom{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #515151;
    margin: 0;
    color:white;
    align-items: center;
    justify-content: center;
}